:root {
	--white: hsl(0, 0%, 100%);
	--light-gray: hsl(212, 45%, 89%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);

	--paragraph: 15px;
	--title: 22px;

	--font: 'Outfit', sans-serif;
	--regular: 400;
	--bold: 700;
}

* {
	margin: 0;
	padding: 0;
	font-size: var(--paragraph);
	font-family: var(--font);
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
	font-weight: var(--bold);
}

.layout {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	padding: 15px;
	background-color: var(--light-gray);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.container {
	width: 100%;
	max-width: 350px;
	margin: 20px;
	padding: 15px;
	background-color: var(--white);
	border-radius: 15px;
	box-shadow: .5px .5px 3px var(--grayish-blue);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.container img {
	width: 100%;
	object-fit: cover;
	border-radius: 15px;
	margin-bottom: 14px;
}

.text-bold {
	width: 90%;
	margin: 0 auto;
	font-size: var(--title);
	font-weight: var(--bold);
	text-align: center;
	color: var(--dark-blue);
}

.text-regular {
	width: 87%;
	margin: 20px auto;
	font-size: var(--paragraph);
	font-weight: var(--regular);
	text-align: center;
	color: var(--grayish-blue);
}